/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Definindo variáveis CSS para facilitar manutenção */
:root {
    --primary-color: #30475E; /* Cor primária usada em vários elementos */
    --secondary-color: #F5F7F8; /* Cor secundária usada em vários elementos */
    --bg-color: #45474B; /* Cor de fundo para inputs e outros elementos */
    --input-width: 30rem; /* Largura dos inputs em telas grandes */
    --input-width-mobile: 17rem; /* Largura dos inputs em telas pequenas */
}

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão para o corpo */
    background-image: url(bg.jpg); /* Define a imagem de fundo do corpo */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
    min-height: 100vh; /* Garante que o corpo cubra pelo menos a altura da viewport */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 0; /* Remove o padding padrão do corpo */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
}

body::before {
    content: ""; /* Adiciona um elemento pseudo ::before */
    position: relative; /* Posiciona o overlay relativo ao body */
    top: 0; /* Alinha o overlay ao topo */
    left: 0; /* Alinha o overlay à esquerda */
    width: 100%; /* Largura total do overlay */
    height: 100%; /* Altura total do overlay */
    background-color: rgba(0, 0, 0, 0.5); /* Cor do overlay com transparência */
    z-index: 1; /* Coloca o overlay acima do background, mas abaixo do conteúdo */
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Define o tamanho da fonte */
    color: var(--secondary-color); /* Define a cor do texto usando a variável */
    font-weight: 700; /* Define o peso da fonte */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Define o espaçamento entre letras */
    overflow: hidden; /* Esconde o texto que ultrapassa o container */
    border-right: 0.15em solid #F0F0F0; /* Cria o efeito de cursor piscando com borda */
    white-space: nowrap; /* Impede que o texto quebre linhas */
    animation: digitar 2s steps(30, end), piscar-cursor 0.75s step-end infinite; /* Animação do efeito de digitação e piscar do cursor */
}

/* Animação para o efeito de digitação */
@keyframes digitar {
    from { width: 0; } /* Começa com largura 0 */
    to { width: 100%; } /* Termina com largura total */
}

/* Animação para o efeito de piscar do cursor */
@keyframes piscar-cursor {
    from { border-color: transparent; } /* Começa com a cor da borda transparente */
    to { border-color: #F0F0F0; } /* Termina com a cor da borda visível */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: var(--input-width); /* Define a largura dos inputs usando a variável */
    border: none; /* Remove a borda padrão dos inputs */
    padding: 1rem; /* Define o espaçamento interno dos inputs */
    border-radius: 1.5rem; /* Define a borda arredondada dos inputs */
    margin-bottom: 1rem; /* Define o espaçamento abaixo dos inputs */
    color: var(--bg-color); /* Define a cor do texto dos inputs */
    font-size: 1rem; /* Define o tamanho da fonte dos inputs */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    box-shadow: none; /* Remove a sombra padrão dos inputs */
    outline: none; /* Remove a borda que aparece ao clicar nos inputs */
    transition: box-shadow 0.3s ease; /* Define a transição suave para a sombra */
}

/* Estiliza os inputs quando estão em foco */
section input:focus {
    box-shadow: 0 0 5px 2px rgba(250, 253, 255, 0.6); /* Adiciona uma sombra ao clicar nos inputs */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Define o espaçamento interno dos botões */
    border: none; /* Remove a borda padrão dos botões */
    border-radius: 1.5rem; /* Define a borda arredondada dos botões */
    background-color: rgba(211, 29, 29, 0.61); /* Define a cor de fundo dos botões */
    color: var(--secondary-color); /* Define a cor do texto dos botões */
    font-size: 1rem; /* Define o tamanho da fonte dos botões */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

/* Adiciona efeito hover aos botões */
section button:hover {
    color: #2A3A4B; /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa ao passar o mouse */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Define a largura máxima da caixa de resultados */
    height: 46vh; /* Define a altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Define o espaçamento acima da caixa de resultados */
    padding: 1rem; /* Define o espaçamento interno da caixa de resultados */
    border-radius: 0.6rem; /* Define a borda arredondada da caixa de resultados */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #2A3A4B; /* Define a cor de fundo dos itens de resultado */
    border-radius: 0.6rem; /* Define a borda arredondada dos itens de resultado */
    padding: 1rem; /* Define o espaçamento interno dos itens de resultado */
    margin-bottom: 1rem; /* Define o espaçamento abaixo dos itens de resultado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve aos itens de resultado */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Define o tamanho da fonte dos títulos */
    color: #222831; /* Define a cor do texto dos títulos */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #fff; /* Define a cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #fff; /* Define a cor do texto da descrição */
    margin: 0.5rem 0; /* Define a margem acima e abaixo da descrição */
}

.erro-input{
    color: #fff;
}

/* Estiliza a barra de navegação */
nav {
    background-color: rgba(0, 0, 0, 0.5); /* Define o fundo da barra de navegação */
    padding: 10px 20px; /* Define o espaçamento interno da barra */
    width: 100%; /* Faz a barra cobrir a largura total da tela */
    position: fixed; /* Fixa a barra no topo da página */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

.nav-container {
    display: flex; /* Usa Flexbox para layout do container */
    justify-content: space-between; /* Espaço entre o logo e o menu */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    max-width: 1200px; /* Define a largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    padding: 10px 20px; /* Adiciona espaçamento ao redor do menu */
}

.nav-menu {
    list-style: none; /* Remove os marcadores de lista (bolinhas) */
    display: flex; /* Exibe os itens da lista em linha */
}

.nav-menu li {
    margin-left: 30px; /* Adiciona espaço à esquerda de cada item da lista */
}

.nav-menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Define a cor do texto dos links para branco */
    font-size: 18px; /* Define o tamanho da fonte dos links */
    transition: color 0.3s; /* Transição suave de 0.3s na cor dos links */
}

.nav-menu a:hover {
    color: red; /* Altera a cor do texto dos links para vermelho ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: row; /* Mantém os itens em linha */
        justify-content: space-between; /* Mantém espaço entre os itens */
    }

    .nav-menu {
        flex-direction: column; /* Exibe os itens da lista em coluna */
        display: none; /* Inicialmente esconde o menu em telas menores */
    }

    .nav-menu li {
        margin-left: 0; /* Remove o espaçamento à esquerda dos itens da lista */
        margin-bottom: 10px; /* Adiciona espaço abaixo de cada item da lista */
    }

    .nav-menu.show {
        display: flex; /* Mostra o menu ao clicar no botão */
    }

    .nav-toggle {
        display: block; /* Mostra o ícone de menu (hambúrguer) em telas pequenas */
        font-size: 24px; /* Define o tamanho do ícone */
        color: #fff; /* Define a cor do ícone */
        cursor: pointer; /* Muda o cursor ao passar sobre o ícone */
        position: absolute; /* Faz o ícone ter um posicionamento absoluto */
        right: 20px; /* Alinha o ícone à direita da tela */
        top: 20px; /* Alinha o ícone ao topo */
    }
}



/* Estiliza o rodapé da página */
footer {
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor de fundo do rodapé */
    color: var(--secondary-color); /* Define a cor do texto do rodapé */
    text-align: center; /* Alinha o texto ao centro */
    padding: 20px 0; /* Define o espaçamento interno do rodapé */
    width: 100%; /* Define a largura total do rodapé */
    position: absolute; /* Posiciona o rodapé de forma absoluta */
    bottom: 0; /* Alinha o rodapé ao fundo da página */
    font-size: 1rem; /* Define o tamanho da fonte do rodapé */

}

/* Estiliza os links no rodapé */
footer a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Herda a cor do elemento pai (rodapé) */
    cursor: pointer; /* Mantém o cursor de link */
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Define o tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Define o espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Define a largura dos inputs em telas menores */
        padding: 0.8rem; /* Define o espaçamento interno dos inputs em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Define a largura da caixa de resultados em telas menores */
        height: 40vh; /* Define a altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Define o tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem; /* Define o tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Define o espaçamento entre letras em telas pequenas */
    }

    section input {
        width: var(--input-width-mobile); /* Define a largura dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Define o espaçamento interno dos botões em telas pequenas */
        font-size: 0.9rem; /* Define o tamanho da fonte dos botões em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Define a largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Define a altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Define o tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Define o tamanho da fonte do rodapé em telas pequenas */
    }
}
